<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="logback.xsd">

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%magenta(%d{ISO8601}) | %highlight(%p) | [%t] | %c{40}:%L | %m%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="Console" />
  </root>
</configuration>